body {
  font-family: "Roboto", sans-serif;
  background-color: var(--primeiroFundo-color)  ;
  color: #333;
  padding: 0 15vh;
  margin: 0;
}
:root {
  --primeiroFundo-color: #f0e6de;
  --segundoFundo-color: #f3eeeb;
  --terciaria-color: #96b5ad;
  --texto-color: #281916;
  --btn-color:#007bffff;
}

.container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto; /* Centraliza o container principal */
  padding: 20px;
}

/* #region Header/navbar */
header {
  background-color:var(--segundoFundo-color);
  width: 100%;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
}
.navegar a{
  text-decoration: none;
  list-style: none;
  color: var(--terciaria-color);
}
.logo{
  text-align: center;
  flex: 1;
  display: flex;
  justify-content: center;
}
.logoNome{
  font-weight: 800;
}
.links{
  flex: 2;
  overflow-x: auto;
  background:#c9e4dda8;
  border: 1.9px solid var(--terciaria-color);
  border-radius: 12px;
  padding: 10px;
  margin-left: 5%;
  justify-content: center;
}

/* #region config do scroll */

/* Scrollbar geral */
.links::-webkit-scrollbar {
  height: 8px;
}

/* Cor da barra */
.links::-webkit-scrollbar-thumb {
  background-color: #c9e4dda8;
  border: 1px solid var(--terciaria-color);
  border-bottom: none;
  border-radius: 12px;
}

.links::-webkit-scrollbar-thumb:hover {
  background-color: var(--terciaria-color);
}
/* #endregion */

.links ul {
  justify-content: space-evenly;
  gap: 5px;
  list-style: none;
  display: flex;
  margin: 0;
  padding-left: 0;
}
.links a {
  padding: 5px 25px;
  text-decoration: none;
  color: var(--terciaria-color);
  font-size: 1.1rem;
  transition: all 0.5s ease;
  border-radius: 12px;
}
.links a:hover {
  font-size: 1.2rem;
  color: var(--texto-color);
  border-bottom: solid 2.5px var(--terciaria-color);
}
/* #endregion*/

/* #region comeco*/
/* #endregion*/

/* #region Conversores*/
.converter {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  margin-bottom: 30px;
}

.converter h3 {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  color: #34495e;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
  letter-spacing: 1px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
  color: #555;
}

input[type="number"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #dcdfe6;
  border-radius: 6px;
  font-size: 16px;
  box-sizing: border-box;
}

button {
  transition: background-color 0.3s ease;
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
  margin-bottom: 10px;
}

button:hover {
  background-color: #0056b3;
}

.result-area input {
    width: 100%;
  padding: 10px;
  border: 1px solid #dcdfe6;
  border-radius: 6px;
  font-size: 16px;
  box-sizing: border-box;
}
.result-area label{
    margin-top: 15px;
    display: block;
  margin-bottom: 5px;
  font-weight: 500;
  color: #555;
}
/* #endregion*/

